@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: white;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  color: hsl(217, 12%, 63%);
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: hsl(213, 19%, 18%);
  padding: 1.5em;
  max-width: 375px;
}

.select {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  margin: 2em 0 2em 0;
  padding: 0.5em;
  border-radius: 99px;
}

.main2 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: hsl(213, 19%, 18%);
  padding: 1.5em;
  max-width: 375px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  padding: 0;
}

.numbers {
  font-family: "Overpass", sans-serif;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.number {
  background-color: hsl(213, 19%, 18%);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: hsl(217, 12%, 63%);
}

.number:hover {
  background-color: hsl(216, 12%, 54%);
  color: white;
}

.active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.number:active {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.button {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 10px;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

input {
  display: none;
}
